.card-ads1 {
    min-height: 536px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;
}
.card-ads2{
    height: 427px;
    background-repeat: no-repeat;
    border-radius: 8px;
    
}
