.card-ads1 {
    min-height: 536px;
    background-repeat: no-repeat;
    border-radius: 8px;

    display: flex;

    justify-content: center;
}
.card-ads1-container{
    margin-top: 27px;
    text-align: center;
    color: var(--color-white);
    
   
}
.button-shop-now{
    margin-top: 27px;
    background-color: var(--color-white);
    color: var(--color-primary);
    border-radius: 30px;
    font-size: 14px;
    padding-left: 27px;
    padding-right: 27px;
}
.text1{
font-size: 14px;
margin-bottom: 8px;
margin-top: 8px;
}
.text2{
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.text3{
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.card-ads2{
    height: 427px;
    background-repeat: no-repeat;
    border-radius: 8px;
    
}
