.card-container-product {
    min-width: 312px;
    min-height: 407px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;
}
.card-container-product:hover{
    transition: ease all;
    border: 1px solid var(--color-hard-primary);;
    box-shadow: 1px 1px 5px 1px var(--color-hard-primary);;
}
.card-container-product:hover .product-name{
    color: var(--color-hard-primary);
}
.product-name {
    color: var(--color-soft-gray);
    font-size: 14px;
}

.card-bottom {
    margin: 30px;
}

.cut-price-product {
    text-decoration: line-through;

}
.card-top-left{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--color-danger);
    border-radius: 4px;
    padding: 2px 5px;
    color: var(--color-white);
}
.card-top-right{
    position: absolute;
    top: 20px;
    right: 20px;
    flex-direction: column;

}
.card-bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.card-bottom-right {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.price-product {
    color: var(--color-hard-gray);
    font-weight: 500;
}
.cut-price-product{
    color: var(--color-gray);
    font-weight: 400;
}

.view-icon{
    margin-top: 5px;
}
.section-heading-product{
    font-weight: 600;
    padding: 10px;
    padding: 12px;
}

.product-add-to-cart{
}