.card-container{
    text-align: center;
    border-bottom: 1px solid #999999;
}
.card-container:hover{
    border-bottom: 3px solid #00B207;
}
.feature-heading{
    font-weight: 600;
}
.description{
    font-size: var(--heading3);
    color: #999999;
}
.feature-container{
    padding-top: 24px;
    padding-bottom: 24px;

}