.card-container{
    text-align: center;
}
.feature-heading{
    font-weight: 600;
}
.description{
    font-size: var(--heading3);
    color: #999999;
}
.feature-container{
    padding-top: 24px;
    padding-bottom: 24px;

}